<!DOCTYPE html>
<html lang=''>
    <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        var current_elements = {{current_elements}};
        var logged_elements = {{logged_elements}};
        var current_data = {{current_data|tojson|safe}};
        var log_data = {{log_data|tojson|safe}};

        $(function() {
            $('a#chargeData').bind('click', function(){
                $.getJSON('/write_data', 
                        function(data){
                        }); 
                return false;
            }

        }); 
    </script>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <h1>System Status</h1>
        <form>
            <a href=# class="myButton" id=chargeData>Charge</a>
            <a href=# class="myButton" id=discharge>Discharge</a>
            <a href=# class="myButton" id=poll> Poll Data</a>
        </form>
        <p>If choose to use Sine or PRBS Discharge, you must wait until all data is polled.</p>
        <br>
        <form method="POST">
            <input name="sine_discharge">
            <input type="submit" id=readData value="Sine Discharge">
        </form> <br>
        <form method="POST">
            <input name="PRBS_discharge">
            <input type="submit" id=readData value="PRBS Discharge">
        </form> <br>
        <h2>Current Data:</h2>
            <table id="currentData">
                <tr>
                    <th>Time Stamp</th>
                    <th>Charge Current(A)</th>
                    <th>Discharge Current(A)</th>
                    <th>Battery Voltage (V)</th>
                    <th>Temperature (F)</th>
                </tr>
                <tr>
                    {% for column in range(current_elements) %}
                    <td> {{current_data[column]}} </td>
                    {% endfor %}
                </tr>
            </table>

        <h2>Logged Data:</h2>
            <table id="loggedData">
                <tr>
                    <th>Time Stamp</th>
                    <th>Charge Current(A)</th>
                    <th>Discharge Current</th>
                    <th>Battery Voltage (V)</th>
                    <th>Temperature (F)</th>
                </tr>
                    {% for row in range(logged_elements) %}
                    <tr>
                        {% for column in range(current_elements) %}
                            <td> {{log_data[row][column]}} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </table>
        {% endblock %}
    </body>
</html>
