<!DOCTYPE html>
<html lang=''>
    <head>
        <script>
        var inputCurrentIn = {{inputCurrentIn}};
        var inputCurrentOut = {{inputCurrentOut}};
        var batteryVoltage = {{batteryVoltage}};
        var xPoints = {{xPoints}};
        var numElements = {{numElements}};
        </script>
        <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="./../static/js/functions.js"></script>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <h1>Graphs of the 256 Most Recent Measurements</h1>
        <div id="currentChartContainer" style="height: 360px; width: 75%;"></div><br>
        <script>makeCurrentChart("currentChartContainer",
            "Charge and Discharge Current Readings", {{inputCurrentIn}},
            {{inputCurrentOut}}, {{xPoints}},
            {{numElements}});</script>
        <div id="voltageChartContainer" style="height: 360px; width: 75%;"></div><br>
        <script>makeChart("voltageChartContainer", "Voltage Readings", "Voltage (V)",
            {{batteryVoltage}}, {{xPoints}}, {{numElements}}); </script>

        {% endblock %}
    </body>
</html>
