<!DOCTYPE html>
<html lang=''>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <h1>EENG 383 Final Project - Battery Management System</h1>
        <p>This is our final project for EENG 383: Embedded Systems. It is a battery management system that performs charge and discharge management. It executes a current perturbation sequence for SOC estimation with a PIC microcontroller and displays all the data using a Raspberry Pi. </p>
        {% endblock %}
    </body>
</html>
